@use "../../variables" as *;
@use "../../mixins" as *;

.main_section {
  padding: 5.75rem 1rem;
}

.content {
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  @include flex_space_between();
}

.h2 {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 500;
}

.add_button {
  @include reset_button_defaults();

  padding: .75rem 1.5rem;
  background-color: transparent;
  color: $primary_200;
  border: 1px solid $primary_200;
  border-radius: 2rem;
  transition: color $standard_transition, background-color $standard_transition;

  &:hover {
    background-color: $primary_200;
    color: $white;
  }
}

.portfolio_container {
  @include hide_scrollbar();

  margin-top: 5.75rem;
  overflow-x: scroll;
}

.portfolio_list {
  min-width: 62.5rem;
  border-radius: .75rem;
  overflow: hidden;
}

.no_items_msg {
  width: fit-content;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .h2 {
    font-size: 1.5rem;
    margin-bottom: .75rem;
  }

  .add_button {
    font-size: .875rem;
    padding: .5rem .75rem;
    margin-bottom: .75rem;
  }

  .portfolio_container {
    margin-top: 3rem;
  }
}