$black: #222;
$white: #fff;
$primary_100: #624686;
$primary_200: #9f86c0;
$gray_100: #ccc;
$gray_200: #f2f2f2;
$gray_300: #fafafa;
$supporting_red: #f07167;
$supporting_green: #00afb9;

$standard_transition: .2s ease-out;